.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .home-header {
    background-color: #fff; /* Cor do container de login */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .home-logo {
    width: 100px; /* Ajuste conforme necessário */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
  }
  